name: globe_cli
description: The global deployment platform for Dart & Flutter applications.
version: 0.0.13
repository: https://github.com/invertase/globe

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  archive: ^3.3.6
  args: ^2.3.1
  cli_completion: ^0.3.0
  cli_util: ^0.4.0
  get_it: ^7.2.0
  glob: ^2.1.2
  http: ^0.13.5
  mason_logger: ^0.2.4
  meta: ^1.9.0
  path: ^1.8.3
  pub_updater: ^0.3.0
  pubspec_parse: ^1.2.3
  pool: ^1.5.1
  collection: ^1.19.1
  cli_table: ^1.0.2

dev_dependencies:
  build_runner: ^2.4.4
  file_testing: ^3.0.0
  globe_lints:
  mockito: ^5.4.2
  # Minimum version compatible with Dart 3.0.0
  test: ^1.22.1

  # Transitive dependency. Mockito uses InvalidType which is from analyzer 5.12.0
  # https://github.com/dart-lang/mockito/issues/656
  analyzer: ">=5.12.0"
  # Transitive dependency, but minimum version necessary which
  # supports File.createSync(exclusive: true)
  file: ^6.1.4
  # Transitive dependency, but minimum version necessary as previous
  # versions use FallthroughError
  pub_semver: ^2.1.2
  # Transitive dependency, but minimum version necessary as previous
  # versions use CastError/CyclicInitializationError/NullThrownError
  matcher: ^0.12.14
  # Transitive dependency. Older versions are trying to implement
  # a now sealed class
  watcher: ^1.1.0
  # Transitive dependency. Uses removed Platform method otherwise
  platform: ^3.1.0

executables:
  globe: globe
